.idea/
.DS_Store
*.pyc
dist/
build/
vue_js_reverse.egg-info/
.tox/
.coverage.*
.coverage
htmlcov/
ghostdriver.log
vue_js_reverse/static/*
vue_js_reverse/tests/tmp/
.project
.pydevproject
.settings/

index.js
index.mjs
